* {
    box-sizing: border-box;
  }
 
#content{
    display: grid;
    font-family: 'Courier New', Courier, monospace;
}

body { 
    background-image: url('../kuvat/kaktus.jpg');
    background-repeat: no-repeat;
    background-position: center;    
    background-color: rgb(182, 171, 125);
    background-position-x: 5%;  
}

.accordion-item{
    background-color: rgb(201, 187, 171);
}

.accordion-header{
    background-color: rgb(201, 187, 171);
}

.accordion-button{
    background-color: rgb(201, 187, 171);
}

.accordion-collapse{
    background-color:rgb(201, 187, 171);
}

p.one {
    margin-left: 800px;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

header{
    display: flex;
    background-color: rgb(85, 122, 49);
    height:65px;
    border-top: black 1px solid;
    border-right: black 1px solid;
    border-left: black 1px solid;
}
h2{
    margin-top: 35px;  
    font-size: xx-large;
    margin-left: 5px;
}

nav.one{
    background-color:rgb(85, 122, 49);  
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;    
}

.active{
    color: black;
    font-size: large;
    border: black 1px solid;
    background-color: rgb(66, 146, 66);
}

.active:hover {
    color: black;

}
.nav-link{
    color: black;
    font-size: large;
    border: black 1px solid;
   background-color: rgb(66, 146, 66);
}

.nav-link:hover{
    color: black;
}

nav.acc{
    border: black 1px solid;
    min-height: 480px;
    width:700px;  
    height: 300px;
    margin-left: 5px;
    margin-left:800px;
    background-color: rgb(201, 187, 171);
}

footer{
    display: flex;
    background-color: rgb(85, 122, 49);
    height: 50px;
    border-top: black 1px solid;
    border-right: black 1px solid;
    border-left: black 1px solid;    
    position: fixed;
    bottom: 0;
    width: 100%
}

svg {
    margin-top: 22px;
    margin-left: 10px;
}

p.two {
    margin-top: 20px;
    margin-left: 5px;
}